<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>New Job Request</title>
	{{> css}}
<body>
 <body bgcolor="#FFFFFF">
  {{> header}}



 <!-- BODY -->
 <table class="body-wrap">
 	<tr>
 		<td class="container" bgcolor="#FFFFFF">
 
 			<div class="content">
 			<table>
 				<tr>
 					<td>
 						<h3>New Job Request</h3>
 						<p class="lead">A new job request was submitted with the following details.</p>
 						<!-- Callout Panel -->
 						{{# jobs}}
 						<div class="content">
  						<table class='callout'>
  						 <tr>
  						  <td>{{{ . }}}</td>
  						 </tr>  
  						</table>
  						
 						</div>
 						{{/ jobs}}
 					</td>
 				</tr>
 			</table>
 			</div><!-- /content -->
 									
 		</td>
 	</tr>
 </table><!-- /BODY -->

 {{> footer}}

</body>
</html>